ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

.product-name {
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .product-image {
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;

  }
  img{
    width: 300px;
    height: 300px;
  }

  .product-description {
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 16px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .product-price {
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 20px;

  }
  .button {
    padding: 20px 60px;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: linear-gradient(to right, #00FFA3, #DC1FFF);
    cursor: pointer;
  }
  .button::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
    transition: 200ms
  }
  .button::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
    background-clip: text;
    color: transparent;
    transition: 200ms
  }
  .button:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .button:hover::after{
    color: white;
  }


 

 