body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a9df4; /* Цвет океана */
}

.ocean {
    position: relative;
    height: 100vh;
    width: 100%;
}

.bubble {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    animation: bubbleAnimation 6s infinite;
}

.bubble--1 {
    width: 30px;
    height: 30px;
    left: 10%;
    animation-duration: 5s;
    animation-delay: 0s;
}

.bubble--2 {
    width: 50px;
    height: 50px;
    left: 20%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble--3 {
    width: 40px;
    height: 40px;
    left: 40%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.bubble--4 {
    width: 60px;
    height: 60px;
    left: 60%;
    animation-duration: 8s;
    animation-delay: 3s;
}

/* Анимация для пузырьков */
@keyframes bubbleAnimation {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 1;
    }
}

#octocat {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

#fish {
    display: block;
    width: 200px;  /* Устанавливаем ширину рыбы */
    height: auto;
    animation: fishAnimation 10s linear infinite;
}

/* Анимация для плавания рыбы от правого к левому краю */
@keyframes fishAnimation {
    0% {
        transform: translateX(50vw); /* Начало справа за пределами экрана */
    }
    100% {
        transform: translateX(-700px); /* Конец слева (переходит за пределы экрана) */
    }
}

/* Водоросли */
.seaweed {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* чтобы водоросли не мешали кликам */
}

.weed {
    position: absolute;
    bottom: 0;
    width: 30px;  /* Увеличиваем ширину водорослей */
    height: 200px;  /* Увеличиваем высоту водорослей */
    background-color: #006400; /* Цвет водорослей */
    border-radius: 5px;
    animation: weedAnimation 3s ease-in-out infinite;
}

.weed--1 {
    left: 5%;
    animation-duration: 4s;
}

.weed--2 {
    left: 20%;
    animation-duration: 5s;
}

.weed--3 {
    left: 40%;
    animation-duration: 6s;
}

.weed--4 {
    left: 60%;
    animation-duration: 7s;
}

@keyframes weedAnimation {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(10px) rotate(5deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}
